 
<%= form_for(@comment) do |f| %>
 <%= f.text_area :comment, size: "100x05", placeholder: "Enter Comment here" %>

<%= f.hidden_field :article_id, :value=> @id %>
<%= f.hidden_field :user_id, :value=> current_user.id %>

  

  <div class="actions">
   <%= f.submit %>
  </div>
<% end %>