<div class="container-fluid"> 
<h1 align="center">INFORMATION</h1>    
    <div class="row-fluid">
    
           <div class="span6">
                            <%= form_tag userprofile_path, method: :patch , :multipart => true  %>
                            <%= image_tag (@userprofile.user_image(:large)) %>
           
                   
          </div>
               <div class="span6">
                             <div>
                                  <%= label_tag :Name %>
                                   <%= text_field_tag :name,@user.name %>
                             </div>
                             <div>
                                     <%= label_tag :Gender%>
                                     <%= select_tag "gender", "<option>Male</option>""<option>Female</option>" .html_safe %>
                            </div>
                             <div>
                             <%= label_tag :DOB %>

                             <%= text_field_tag :dob,@user.dob %>
                             </div> 
                          <div>
                             <%= label_tag :Email %>
                             <span class="input uneditable-input"><%= @user.email %>
                          </span></div>
                         <div>
                           <%= label_tag :Address %>
                           <%= text_field_tag :address ,@user.address %>
                         </div>
                         <div>
                            <%= file_field_tag :photo %>
                  </div>
                </div>
    </div>

 <div align="center"><%= submit_tag %></div>
</div>
          
             
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this rprofile from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      
      </ul>
    </div>
  <div class="actions">
    
<% end %>
<% end %>
</div>
<script>
$(document).ready(function(){
   $('#dob').datepicker();
 })
$('.typeahead').typeahead()
   </script>